<table class="table table-hover col-xs-10">
    <thead>
        <tr>
            <th>ユーザー名</th>
            <th>email</th>
            <th>ユーザー種別</th>
            <th>退会管理</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |us| %>
        <tr>
            <td>
                <%= link_to us.name, users_show_path(userid: us.id)%>
            </td>
            <td><%= us.email %></td>
            <td><% if us.admin_flag == true %>
                <p>管理者</p>
                <% else %>
                <p>一般ユーザー</p>
                <% end %>
            </td>
            <td>
                <%if us.admin_flag == true %>
                <% else %>
                    <%if us.is_deleted == true %>
                        <%= link_to 'ユーザーを復旧する', users_update_path(userid: us.id, :is_deleted => 'false'),
                        :method => :patch, class: "btn btn-danger"%>
                    <% else %>
                        <%= link_to 'ユーザーを退会させる', users_update_path(userid: us.id, :is_deleted => 'true'),
                        :method => :patch, class: "btn btn-danger"%>
                        <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>