<div class="mypage-box">
	<div class="mypage-box-contents">
	<%= @user.name %>さんのマイページ
	<%= link_to "投稿済み写真一覧", users_index_path, class:"btn btn-success form-control" %>
	<%= link_to '退会する', users_update_path(:id => @user.id, :is_deleted => 'true'),
						:method => :patch,"data-confirm" => "本当に退会しますか？" , class: "btn btn-danger form-control" %>
	</div>
</div>