<style>
	.navbar{
		margin-bottom: 0;
	}
</style>

<div class="site-about">
<p class="about-title">TabiPhotoとは</p>
あなたの旅と、写真をつなげるためのサイトです
</div>

<div class="map-about">
<p class="about-title">地図を作る</p>
TabiPhotoでは投稿された写真を元に、<br>
あなたが今までどこを訪れたことがあるのかを地図に反映します。<br>
これにより、一目で今まで行ったことのある場所がわかるようになっています。
</div>

<div class="where-field">
<p class="about-title">目的地を探す</p>
TabiPhotoでは他のユーザーが投稿した写真を見ることができます。<br>
投稿された写真から、目的地を決めて旅にでることもできるのです。
</div>