<div class="site-about">
	<p>TabiPhotoとは</p>
</div>

<div class="map-about">
	<p>地図と旅行の記録を連動させる</p>
</div>

<div class="map-about">
	<p>記録をつける</p>
</div>

<div class="where-field">
	<p>どこに向かうか</p>
</div>