<div class="top-field">
	<p>ようこそTabiPhotoへ！
		このサイトは旅の記録と、写真を投稿できるサイトです。
		詳しくはこちら
	</p>
</div>

<div class="current-photo-field">
	<p>最近の画像</p>
</div>

<div class="popular-photo-field">
	<p>人気の画像</p>
</div>
