<!--ーヘッダーとの間の空白を無しに-->
<style>
	.navbar{
		margin-bottom: 0;
	}
</style>

<div class="top-field">
	<p class="top-info">ようこそTabiPhotoへ！</p>
		このサイトは旅の記録と、写真を投稿できるサイトです。<br>
		詳しくは<%= link_to "こちら", homes_about_path %>
</div>


<div class="top-photo-box">
<% @photos.each do |image| %>
<%= link_to photo_path(image.id) do %>
	<div class="top-photo-box-contents">
	<%= image_tag image.avatar %>
	<% end %>
	</div>
<% end %>
</div>

