// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//写真一覧画面
* {
  box-sizing: border-box;
}
.photo-box-contents {
width: auto;
float: left;
}
.photo-box {
	width: 100%;
	max-width: 1080px;
    margin: 0 auto;
}
.photos-paginate-box{
	text-align: center;
}


//グーグルマップの大きさ
#photo-google-map {
	height: 500px;
	width: 700px;
	margin: 0 auto;
}

///写真詳細画面
.show-photo{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-size: 25px;
	max-width: 95%;
}
.show-photo img {
 max-width: 95%;
 box-sizing: border-box;
}
.user-name{
	font-size: 30px;
}