// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///ログイン画面
.login_field{
	text-align: center;
	margin:0 auto;
	width: 60%;
	border: solid 1px;
}

//会員登録画面
.signup-field{
	text-align: center;
	margin:0 auto;
	width: 60%;
	border: solid 1px;
}

//マイページ
.mypage-box{
	text-align: center;
	margin:0 auto;
	width:60%;

}
.mypage-box-contents{
	text-align: center;
}